.font-size-48px{
    font-size: 48px;
}

.font-white{
    color:whitesmoke;
}

.font-cornsilk{
    color:cornsilk;
}

.hyperlink-black{
    color:black;
}

.red-bg{
    background-color: #cc0000;
}

.white-bg{
    background-color: #fff8dc;
}