.font-size-48px{
    font-size: 48px;
}

.font-white{
    color:whitesmoke;
}

.font-cornsilk{
    color:cornsilk;
}

.hyperlink-black{
    color:#61332f;
}

.red-bg{
    background-color: #cf393d;
}

.white-bg{
    background-color: #fff8dc;
}