html, body{
    margin:0;
    background-color:#ffe066;
}

.remove-all-margin-padding{
    margin:0 ! important;
    padding:0 ! important;
}

/*Commmon utilized css code for re-centering, styling etc */

.entire-width{
    width: 100%;
}

.center {
    margin: 0 auto;
    
}

.five-h-spacing{
    height:80px;
    width:100%;
}

.resize-pic{
    width:100%;
    height: auto;    
}

/* **************************************** */

/* ******************Navigation bar ********************* */
.remove-blank-space{
    height:0px !important;
    width: 0px !important;
}


.bg-nav-color{
    background-color:#bfbfbf; 
}

.nav-title{
    color:#000000;
}

.nav-link{
    color:#000000;
}

.nav-content-right{
    float: right;
}

.navbar-section-height{
    height:50px;
    width:100%;    
}

.navbar-fixed-topp{
  top:0 !important;
  z-index: 1000 !important;
  position: fixed !important;
  width:100%;
  min-height: 50px;
  margin-bottom: 0px;
}

/* *********************************************** */

/* **************** Home page ******************** */

.bg-color-home{
    background-color:#ffe066;
    max-width: 100% !important;
    background-size:cover;
    max-height: 100% !important;
    padding:0 !important;
    margin:0  !important;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* **************** Open hours section ************** */

.open-hrs-container-size{ 
    height: 20%;
    width: 100%;
}

.category-container-size{
    height:20% !important;
    width: 450px !important;
    margin: 0 !important;
    padding:0 !important;   
}

/* ************************************************ */

/* **************** Photo Gallery ***************** */


/* *************************************************** */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bfbfbf;
    color: white;
    text-align: center;
}